<section [ngClass]="{'loading': !taskList.length}">
  <ul *ngIf="taskList.length > 0">
    <li *ngFor="let item of taskList; let elementIndex = index">
      <input type="checkbox" [(ngModel)]="item.checked">
      <input type="text" [(ngModel)]="item.task">

      <button (click)="deleteItemTaskList(elementIndex)">
        <img src="assets/icons/icon-trash.svg" alt="">
      </button>
    </li>
  </ul>
</section>

<app-todo-input-add-itens></app-todo-input-add-itens>
<app-todo-button-delete-all *ngIf="taskList.length > 0" (click)="deleteAllTaskList()">
</app-todo-button-delete-all>